// @import url(https://use.fontawesome.com/releases/v5.0.10/css/all.css);
// @import url(https://fonts.googleapis.com/css?family=Nunito:200,300,400,700);

@import "colors.scss";
// @import "fonts.scss";

// $headings-font-family:Nunito;
// $enable-grid-classes:false;
// $enable-gradients:false;
// $spacer:1rem;
// $border-width:1px;
// $btn-border-radius:4px;
// $custom-control-indicator-size: 1.5rem;

@import "~bootstrap/scss/bootstrap";