.Selected {
    box-shadow: 3px 3px 6px #6d6d6d;
    position: relative;
}

.Tick {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 30px;
    width: 30px;
    z-index: 10;
    background-image: url('../../../../../assets/img/tick.svg');
    background-size: contain;
}