.IdentityImages {

    >div {
        display: flex;
        border: 1px solid #A9A9A9;
        margin: 10px;
        padding: 0;

        img {
            height: fit-content;
            margin: auto;
            transition: all .2s;
            cursor: pointer;
            height:100%;
            width:100%;
            @media only screen and (min-width: 981px) {
                max-height: 27vh;
                width: auto;
            }
        }
    }

}