// @import "assets/scss/custom.scss";

$primary: #000;
$secondary:#F8F8F8;
$success:#71CC98;
$info:#71C5E8;
$disabled:#BDBECC;
$danger:#D9232E;

@import "~bootstrap/scss/bootstrap";

html,
body {
  font-family: "Ubuntu", LatoLatinWeb, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  height: 100%;
  font-size: 10px;
}

/* oltre 700 */
@media only screen and (min-width: 700px) {
  body {
    font-size: 12px;
  }
}

/* oltre 980 */
@media only screen and (min-width: 981px) {
  body {
    font-size: 14px;
  }
}

/* oltre 1700 */
@media only screen and (min-width: 1700px) {
  body {
    font-size: 16px;
  }
}

/* altezza sotto 700 */
@media only screen and (max-height: 700px) {
  body {
    font-size: 10px;
  }
}

html,
body,
#root,
.container {
  background-color: #fff;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #003057;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #003057;
  background-color: #003057;
}

a:hover {
  color: #377CB0;
  ;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.radius-10 {
  border-radius: 10px;
}

.h-100vh {
  height: 100vh;
}

.h-container {
  @media only screen and (min-width: 981px) {
  height: 100vh;
  }
  padding-top: 8vh;
  overflow-y: hidden;
}

.form-span {
  padding: 0.375rem 0;
}

.form-p {
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 0.7em;
}

.btn {
  border-radius: 0;
  font-size: 1em;
  padding: 0.5em;
}

.btn-primary {
  border: 1px solid $primary;
}

.btn-secondary {
  border: 1px solid $secondary;
}

.btn-success {
  color: #fff;
  border: 1px solid $success;
}

.btn-info {
  color: #fff;
  border: 1px solid $info;
}

.btn.disabled,
.btn:disabled {
  opacity: initial;
  border: 1px solid #A9A9A9;
  background-color: $disabled;
  color: #fff;
}

.btn:active,
.btn:hover {
  background-color: #377CB0;
  border: 1px solid #A9A9A9;
  color: #fff;
}

.form-group {
  margin-bottom: 1.5em;
}

.form-control {
  border-radius: 0;
  border: 1px solid #A9A9A9;
  font-size: 1em;
}

.form-control:focus {
  color: #495057;
  border-color: #000;
  outline: 0;
  box-shadow: none;
}

.modal-dialog {
  @media only screen and (min-width: 981px) {
    max-width: 80vw;
  }
  .modal-content {
    width: fit-content;
    margin: auto;

    .modal-header,
    .modal-footer {
      border: none;
    }

    .modal-body {
      >img {
        margin: auto;
        width:100%;
        height: 100%;
        @media only screen and (min-width: 981px) {
          height: 70vh;
          width:auto;
        }
      }
    }
  }
}

.modal-open {
  .card-body {
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }
}